html, body, svg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

circle.point {
  cursor: pointer;
}

text.label {
  cursor: pointer;
  stroke: none;
}

.link {
  stroke-opacity: 50%;
  stroke-width: 1px;
}

#echolink {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

#clear-button {
  position: absolute;
  right: 12px;
  top: 12px;
}