html, body, svg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

body {
  Background: #303030;
}

circle.node {
  cursor: pointer;
}

text.node {
  font-family: Ubuntu, Helvetica, Tahoma, sans-serif;
  font-size: 13px;
  cursor: pointer;
  stroke: none;
}

.link {
  stroke: #808080;
  stroke-opacity: 50%;
  stroke-width: 1px;
}


fieldset {
  border: none;
}

#dialog-form {
  font-size: 12px;
}

#input-artist {
  width: 98%;
  padding: 4px;
}

.label-container {
  margin: 12px 0px;
}
#fam-slider {
  margin: 12px 0px;
}

#echolink {
  position: absolute;
  right: 12px;
  bottom: 12px;
}